<div class="two-pics">
  <div class="heading_image">
    <%= image_tag "girl.jpeg", class: "society-girl" %>
  </div>
  <div class="centered1">
    <div class="text-background">
      <p>STYLE YOUR</p>
    </div>
    <!-- <div class="text-background2">
      <p>WILD HEART</p>
    </div> -->
  </div>
  <div class="centered2">
    <div class="text-background2">
      <p>WILD HEART</p>
    </div>
  </div>
  <%= image_tag "guy.jpeg", class: "society-guy" %>
</div>

<h2 class="title">Collaborators</h2>

<div class="tiles saint-collabs">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag "crafts.jpg", class: 'width-100' %>
      <p class="width-100"><span class="bold">Belinda Sheilds</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "crafts.jpg", class: 'width-100' %>
      <p class="width-100"><span class="bold">Donavan Malt</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
    <div class="col-md-4">
      <%= image_tag "crafts.jpg", class: 'width-100' %>
      <p class="width-100"><span class="bold">Sueanne Lea</span><br>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    </div>
  </div>
</div>
